body {
  margin-left: 10%;
  margin-right: 10%;
  background-image: url('stars-doodle.jpeg');

}



.contentList p{
  float: right;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 4px solid currentColor;
  background-color: rgba(255,255,255,0.9);
}
.contentList p:hover{
  border-bottom-color: blue;

}




div.sidepane{
  margin-top: 10%;
  text-align: center;
  width: 20%;
  float: left;
  background-color: rgba(255,255,255,0.9);
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 1%;
  padding-right: 1%;
}
img.sidepane{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border-color: white;
  border-width: 5px;
  border-color: white;
  border-style: solid;
}
div.info{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin-top: -30px;
  padding-top: 30px;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
}

p.name{
  font-size: 20px;
}




div.card{
  float: left;
  margin-top: 5%;
  margin-left: 5%;
  padding: 50px;;
  background-color: rgba(255, 255, 255, 0.9);
  width: 60%;
}

p.about {
  font-size: 200%;
  font-weight: bold;
  font-style: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
  border-bottom: 2px solid grey;
  color: grey;
  margin: 0px;
}
div.cardContent{
  font-size: 14px;
  line-height: 200%;
}
